        body {
            font-family: Times new roman, Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: bisque;
        }

        header {
            background-image: linear-gradient(rgb(114, 246, 114), rgb(5, 142, 5), rgb(9, 144, 9), rgb(81, 252, 68));
            color: #fff;
            text-align: center;
            padding: 1rem 0;
            display: flex;
            align-items: center;
        }

        header img {
            width: 10em;
            height: auto;
            margin-right: 10px;
        }

        header sub {
            font-size: 16px;
            font-family: cursive;
            font-weight: 100;
        }

        nav {
            background-color: #333;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        nav ul li {
            float: left;
        }

        nav ul li a {
            display: block;
            color: #fff;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-family: Geneva, Verdana;
        }

        nav ul li a:hover {
            background-color: #111;
        }

        main {
            padding: 1rem;
        }
        
        .search-bar {
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
        }
        
        .search-bar input[type="search"] {
            padding: 0.5rem;
            font-size: 1rem;
            width: 100%;
        }
        
        .search-bar button {
            padding: 0.5rem 1rem;
            background-color: #4CAF50;
            color: #fff;
            border-radius:10px;
            margin-left:5px;
            cursor: pointer;
            font-size: 1rem;
        }
        
        .search-bar button:hover {
            background-color: #067f0e;
        }

        section {
            margin-bottom: 2rem;
        }

        h2 {
            border-bottom: 2px solid #4CAF50;
            padding-bottom: 0.5rem;
        }
        
        .book {
            width: 150px;
            margin-left: 1rem;
            margin-right: 1rem;
        }

        .book-row {
            display: flex;
            /* gap: 1rem; */
            overflow-x: auto;
            padding-bottom: 1rem;
            background-image: url(Images/bookshelf.jpg);
        }

        .book-row a {
            display: block;
            text-align: center;
            min-width: 150px;
            margin-top: 1rem;
        }

        .book-row img {
            max-width: 100%;
            height: auto;
            border: 1px solid black;
            border-radius: 5px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
            transition: filter 0.3s ease, transform 0.3s ease;
        }

        .book-row img:hover {
            transform: scale(1.08);
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 1);
        }

        .book-title {
            display: block;
            text-align: center;
            font-size: 1rem;
            margin-top: 0.5rem;
            font-weight: bold;
            font-family: Geneva, Tahoma, sans-serif;
        }
        
        #topicon {
            width:50px;
            position:fixed;
            bottom:1rem;
            right:1rem;
            border-radius:50%;
        }

        .image {
            border: 2px solid rgb(19, 177, 90);
            border-radius: 20px;
            overflow: hidden;
        }

        .image img {
            display: block;
            width: 100%;
        }

        .founderBox p {
            text-align: center;
            font-size: 1.5em;
        }

        .founderBox p span {
            font-size: 1.5em;
            font-family: cursive;
        }
        
        .founder {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            max-width: 540px;
            aspect-ratio: 1;
            margin: 20px auto;
            border: 2px solid rgb(19, 177, 90);
            border-radius: 50%;
            background-image: linear-gradient(rgb(0, 200, 255), rgb(255, 255, 255));
            overflow: hidden;
        }
        
        .founder img {
            width: 100%;
        }

        .feedback {
            border: 2px solid rgb(19, 177, 90);
            border-radius: 20px;
            padding: 10px;
            text-align: center;
            background-color: rgb(248, 211, 155);
            font-family: Geneva, Verdana, sans-serif;
        }

        .feedback a {
            text-decoration: none;
            color: rgb(255, 255, 255);
            background-color: #39c73d;
            padding: 0px 5px;
            border: 1px solid rgb(3, 129, 13);
            border-radius: 5px;
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 1rem;
        }

        footer a {
            color: #e7f20d;
        }
